.button {
  display: block;
  padding: 18px 65px;

  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @brand-color;
  border: none;
  outline: none;
  border-radius: 25px;

  .transition;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 5px 12px 0 @brand-color-shadow;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px -1px @brand-color-shadow;
  }
}

// ====================== Tablet ======================

@media (min-width: @tablet) {
  .button {
    padding: 19px 65px;
  }
}
