.design-list {
  .list-reset;
  padding-top: 25px;
}

.design-item {
  display: none;
  flex-direction: column;
  align-items: center;

  &--current {
    display: flex;
  }
}

.design-item__heading {
  .indent-reset;
  margin-bottom: 3px;
}

.design-item__image-wrapper {
  position: relative;
  margin-bottom: 35px;
  box-shadow: 0 2px 5px 0 rgba(163, 6, 60, 0.14);
  order: -1;
}

.design-item__image {
  display: block;
}

.design-item__image img {
  display: block;
}

.design-item__price {
  .indent-reset;
  margin-bottom: 30px;

  font-family: @playfair;
  .font(18px, 22px);
  font-style: bold;
  text-align: center;
}

// =================================== Tablet =================================

@media (min-width: @tablet) {
  .design-list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: -23px;
    margin-left: 45px;
    margin-right: 50px;
  }

  .design-item {
    display: block;
    position: relative;
    margin-right: 24px;

    .transition;

    &:hover {
      box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.14);
      cursor: pointer;
    }
  }

  .design-item__heading {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;

    color: #2f2f2f;
    text-align: center;
    z-index: 1;
  }

  .design-item__image-wrapper {
    margin-bottom: 0;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.05);
  }

  .design-item__price {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;

    .font(14px, 22px);
    color: #2f2f2f;
  }

  .design-item__button {
    display: none;
  }
}

// =================================== Desktop =================================

@media (min-width: @desktop) {
  .design-list {
    padding-top: 15px;
    margin-left: 75px;
  }

  .design-item {
    margin-right: 40px;
  }

  .design-item__heading {
    bottom: 50px;
    .font(20px, 30px);
  }

  .design-item__price {
    bottom: 27px;
    .font(22px, 30px);
  }
}
