.features__heading {
  .indent-reset;
  font-family: @playfair;
  .font(24px, 28px);
  text-align: center;
}

.features__heading-addon {
  font-family: @introscriptr;
  .font(22px, 26px);
  color: #32313d;
}

.features__list {
  .list-reset;
  margin: 0 -20px;
  padding: 10px 30px 5px;
  background-color: #ffffff;
}

.features__item {
  position: relative;
  margin-bottom: 10px;
  padding-top: 70px;
}

.features__item-heading {
  .indent-reset;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.features__item-text {
  .indent-reset;
  text-align: center;
}

.features__item-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  fill: @brand-color;
}

// ============================== Tablet ===========================

@media (min-width: @tablet) {
  .features {
    padding-bottom: 110px;
    background: url("../img/features-bg-tablet@1x.png") no-repeat -15px 0;
  }

  .features__heading {
    margin-bottom: 50px;
    .font(28px, 34px);
  }

  .features__heading-addon {
    .font(26px, 30px);
  }

  .features__list {
    margin: 0;
    background-color: transparent;
  }

  .features__item {
    margin-left: auto;
    padding: 0;
    padding-left: 80px;
    width: 350px;
  }

  .features__item-heading {
    margin-bottom: 5px;
    .font(15px, 18px);
    text-align: left;
  }

  .features__item-text {
    .font(14px, 18px);
    text-align: left;
  }

  .features__item-icon {
    position: absolute;
    right: auto;
    margin: 0;

    &--natural {
      top: 5px;
      left: 10px;
      width: 48px;
      height: 48px;
    }

    &--fresh {
      top: 10px;
      width: 63px;
      height: 38px;
    }
  }
}
