.form__list {
  .list-reset;
}

.form__item {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  list-style: none;
}

.form__item-heading {
  .indent-reset;
  font-family: @playfair;
  .font(16px);
  color: @brand-color;
}
