.form__list {
  .list-reset;
}

.form__item {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  list-style: none;
}

.form__item-heading {
  .indent-reset;
  font-family: @playfair;
  .font(16px);
  color: @brand-color;
}

.form__button {
  margin: 0 auto;
}

//  =============================== Tablet =========================

@media (min-width: @tablet) {
  .form__item {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 10px 13px 0 rgba(163, 6, 60, 0.05);
  }
}
