.form__list {
  .list-reset;
  counter-reset: myCounter;
}

.form__item {
  position: relative;
  padding: 18px 20px 26px;
  margin-bottom: 10px;
  background-color: #ffffff;

  &::before {
    position: absolute;
    top: 5px;
    left: 17px;
    display: inline-block;
    counter-increment: myCounter;
    content: counter(myCounter, decimal-leading-zero);

    .font(30px, 36px);
    font-family: @playfair;
    color: @brand-color;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item-heading {
  .indent-reset;
  margin-left: 0;
  font-family: @playfair;
  .font(16px, 20px);
  color: @brand-color;
}

.form__item-button {
  margin: 0 auto;
  padding: 20px 60px 17px;
  border-radius: 30px;
  align-self: center;
}

.form__button {
  margin: 0 auto;
  padding: 20px 62px 17px;
}

//  =============================== Tablet =========================

@media (min-width: @tablet) {
  .form__item {
    display: flex;
    padding: 36px 20px 52px;
    margin-bottom: 21px;
    box-shadow: 0 10px 13px 0 rgba(163, 6, 60, 0.05);

    &:last-child {
      margin-bottom: 0;

      background: #ffffff url("../img/design-bg-tablet@1x.jpg") no-repeat 10px 120px;
    }

    &::before {
      top: 30px;
      left: 45px;

      .font(36px, 40px);
    }
  }

  .form__item-heading {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 38px;
    width: 90px;
    .font(18px, 20px);
  }

  .form__item-button {
    margin: 0 auto;
    padding: 15px 46px 14px;

    .font(10px, 14px);

    &--stuffing {
      margin: 0;
    }

    &--size {
      display: none;
    }

    &--design {
      display: none;
    }
  }

  .form__button {
    margin: 0;
    margin-top: auto;
    margin-left: auto;
    padding: 16px 41px 13px;

    .font(10px, 14px);
  }
}

//  =============================== Desktop =========================

@media (min-width: @desktop) {
  .form__item-heading {
    width: 250px;
    .font(27px, 30px);
  }

  .form__item {
    &:last-child {
      background: #ffffff url("../img/design-bg-desktop@1x.jpg") no-repeat 20px 100px;
    }
  }
}
