.main-nav {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;

  &--hidden {
    display: none;
  }
}

.main-nav__list {
  .list-reset;
}

.main-nav__item {
  padding: 13px 0 10px;
  text-align: center;
  background-color: #e6e6e6;
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: none;
  }
}

.main-nav__link {
  .font(12px, 14px);
  color: #383838;
  text-transform: uppercase;
}

// ============================= Tablet ===========================

@media (min-width: @tablet) {
  .main-nav {
    top: 60px;
    width: 320px;
  }
}

// ============================= Desktop ===========================

@media (min-width: @desktop) {
  .main-nav {
    position: static;
    display: block;
    width: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding-top: 10px;
    width: 745px;
  }

  .main-nav__item {
    padding: 0;
    text-align: left;
    background-color: transparent;
    border-bottom: none;
  }

  .main-nav__link {
    .font(13px, 16px);
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: @brand-color;
    }
  }
}
