.order {
  padding: 30px 0 135px;
  background: #e7383f url("../img/hands-mobile@1x.png") no-repeat center bottom;
  color: #ffffff;
}

.order__heading {
  .indent-reset;
  margin-bottom: 32px;

  font-family: @playfair;
  .font(24px, 28px);
  text-align: center;
}

.order__list {
  .list-reset;
  padding-left: 47px;
  counter-reset: myCounter;
}

.order__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    top: -13px;
    left: -28px;

    font-family: @playfair;
    font-size: 35px;

    counter-increment: myCounter;
    content: counter(myCounter);
  }
}

.order__item-heading {
  .indent-reset;
  margin-bottom: 5px;
  .font(15px, 18px);
  font-weight: bold;
}

.order__item-text {
  .indent-reset;
}

// =============================== Tablet =========================

@media (min-width: @tablet) {
  .order {
    padding: 45px 0 38px;
    background: #e7383f url("../img/hands-tablet@1x.png") no-repeat -210px 40px;
  }

  .order .container {
    padding: 0 48px;
    width: 768px;
  }

  .order__heading {
    padding-left: 70px;
    .font(28px, 34px);
    text-align: center;
  }

  .order__list {
    margin-left: auto;
    margin-right: 20px;
    width: 375px;
  }

  .order__item {
    margin-bottom: 30px;

    &::before {
      left: -40px;
    }
  }
}

// ==================================== Desktop ===============================

@media (min-width: @desktop) {
  .order {
    padding: 108px 0 150px;
    background: #e7383f url("../img/hands-desktop@1x.png") no-repeat 0 57px;
  }

  .order__heading {
    width: fit-content;
    margin-left: auto;
    margin-right: 235px;

    .font(40px, 66px);
  }

  .order__list {
    width: 460px;
    margin-right: 37px;
  }

  .order__item {
    &::before {
      top: -20px;
      left: -43px;
      .font(64px, 66px);
    }
  }

  .order__item-heading {
    .font(21px, 24px);
  }

  .order__item-text {
    .font(19px, 24px);
    font-weight: normal;
  }
}
