.page-footer {
  padding-top: 40px;
  padding-bottom: 7px;
  background-color: #898989;
  color: #ffffff;
}

.page-footer__logo {
  margin-bottom: 25px;
  font-family: @playfair;
  font-size: 28px;
}

.page-footer__phone-number {
  margin-bottom: 20px;
  opacity: 0.8;
}

.page-footer__socials-list {
  .list-reset;
  margin-bottom: 25px;
  display: flex;
}

.page-footer__socials-item {
  margin-right: 20px;
}

.page-footer__socials-link {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.page-footer__socials-icon {
  fill: #ffffff;
}

.page-footer__line {
  margin-bottom: 10px;
  opacity: 0.2;
}

.page-footer__copyrights {
  font-size: 12px;
  opacity: 0.4;
}
