.page-main {
  display: block;
  padding-top: 130px;

  background-image: url("../img/main-cake-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: -30px -40px;
}

.page-main__heading {
  .indent-reset;

  font-family: @playfair;
  .font(40px, 36px);
  letter-spacing: 3px;
  text-align: center;
}

.page-main__heading-addon {
  .indent-reset;
  font-family: @introscriptr;
  .font(22px, 78px);
  color: @color-subheading-text;
}

// ================================= Tablet ===========================

@media (min-width: @tablet) {
  .page-main {
    background-image: url("../img/main-cake-bg-tablet@1x.png");
    background-position: 270px 13px;
  }

  .page-main > .container {
    padding: 0 48px;
  }

  .page-main__heading {
    .font(60px, 55px);
    letter-spacing: 5px;
    text-align: left;
  }

  .page-main__heading-addon {
    font-size: 36px;
    letter-spacing: -1px;
  }
}
