.reviews {
  position: relative;
  padding-top: 40px;
}

.reviews__heading {
  .indent-reset;
  margin-bottom: 18px;

  font-family: @playfair;
  .font(24px, 30px);
  text-align: center;
}

.reviews__list {
  .list-reset;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 235px;
}

.reviews__text-wrapper {
  width: 280px;
  text-align: center;
}

.reviews__item-name {
  .indent-reset;

  font-weight: bold;
}

.reviews__item-info {
  .indent-reset;
  margin-bottom: 5px;

  .font(12px, 16px);
}

.reviews__item-text {
  .indent-reset;

  .font(12px, 14px);
  text-align: center;
}

.reviews__item-photo {
  order: -1;
}

.reviews__item-show-full {
  color: #f87b91;
  font-style: italic;
  text-decoration: underline;
}

.reviews__count {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: @brand-color;
}

// ==================================== Tablet ===============================

@media (min-width: @tablet) {
  .reviews {
    margin-bottom: 70px;
    padding-top: 30px;
    background: url("../img/ribbons-bg-tablet@1x.png") no-repeat center -10px;
  }

  .reviews__heading {
    .font(28px, 34px);
  }

  .reviews__item {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 450px;
  }

  .reviews__text-wrapper {
    width: 255px;
  }

  .reviews__item-name {
    .font(16px, 20px);
    text-align: left;
  }

  .reviews__item-info {
    .font(14px, 16px);
    text-align: left;
  }

  .reviews__item-text {
    .font(14px, 16px);
    text-align: left;
  }

  .reviews__item-photo {
    margin-right: 25px;
  }
}

// ==================================== Desktop ===============================

@media (min-width: @desktop) {
  .reviews {
    background: url("../img/ribbons-bg-desktop@1x.png") no-repeat center -10px;
  }

  .reviews__heading {
    .font(40px, 66px);
  }

  .reviews__item-name {
    .font(27px, 30px);
  }

  .reviews__item-info {
    .font(20px, 24px);
    font-weight: normal;
  }

  .reviews__item-text {
    .font(19px, 22px);
    font-weight: normal;
  }
}
