.stuffing-list {
  display: flex;
  .list-reset;
  padding-top: 17px;
  overflow: hidden;
}

.stuffing-item {
  position: relative;
  display: none;
  padding: 0;
  flex-shrink: 0;
  flex-direction: column;

  &--current {
    display: flex;
  }
}

.stuffing-item__heading {
  .indent-reset;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 240px;

  font-family: @circe;
  .font(16px, 22px);
  font-weight: bold;
  color: @color-text;
}

.stuffing-item__description {
  .indent-reset;
  margin: 0 auto;
  width: 240px;

  .font(14px, 17px);
  margin-bottom: 13px;
}

.stuffing-item__image-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 35px;
  order: -1;
}

.stuffing-item__image {
  display: block;
  width: 241px;
  height: 113px;

  text-align: center;
}

.stuffing-item__price {
  .indent-reset;
  margin-bottom: 20px;

  font-family: @playfair;
  .font(18px, 22px);
  font-style: bold;
  text-align: center;
}

// ================================ Tablet ===========================

@media (min-width: @tablet) {
  .stuffing-list {
    width: 465px;
  }

  .stuffing-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .stuffing-item__image-wrapper {
    flex-shrink: 0;
    margin: 0;
    margin-right: 25px;
  }

  .stuffing-item__image {
    width: 210px;
    height: 239px;
  }

  .stuffing-item__text-wrapper {
    margin-top: 20px;
    width: 230px;
  }

  .stuffing-item__heading {
    margin: 0;
    .font(18px, 24px);
  }

  .stuffing-item__description {
    margin: 0;
    margin-bottom: 10px;
    width: 205px;
  }

  .stuffing-item__price {
    margin-bottom: 75px;
    .font(20px, 24px);
    text-align: left;
  }
}

// ================================ Desktop ===========================

@media (min-width: @desktop) {
  .stuffing-list {
    margin-bottom: 37px;
    width: 665px;
  }

  .stuffing-item {
    flex-shrink: 0;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .stuffing-item__image-wrapper {
    margin-right: 0;
  }

  .stuffing-item__image {
    width: 344px;
    height: 390px;
  }

  .stuffing-item__text-wrapper {
    padding-top: 47px;
    width: 280px;
  }

  .stuffing-item__heading {
    .font(20px, 26px);
  }

  .stuffing-item__description {
    margin-bottom: 20px;
    .font(18px, 24px);
    font-weight: normal;
    width: auto;
  }

  .stuffing-item__price {
    margin-bottom: 50px;
    .font(22px, 26px);
  }
}
