.stuffing-list {
  .list-reset;
  padding-top: 17px;
}

.stuffing-item {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.stuffing-item__heading {
  .indent-reset;
  margin-bottom: 3px;

  font-family: @circe;
  .font(16px, 22px);
  font-weight: bold;
  color: @color-text;
}

.stuffing-item__description {
  .indent-reset;
  .font(14px, 17px);
  margin-bottom: 13px;
}

.stuffing-item__image-wrapper {
  position: relative;
  margin-bottom: 32px;
  order: -1;
}

.stuffing-item__image {
  display: block;
}

.stuffing-item__price {
  .indent-reset;
  margin-bottom: 20px;

  font-family: @playfair;
  .font(18px, 22px);
  font-style: bold;
  text-align: center;
}

// ================================ Tablet ===========================

@media (min-width: @tablet) {
  .stuffing-item {
    flex-direction: row;
    align-items: flex-start;
    width: 425px;
  }

  .stuffing-item__image-wrapper {
    flex-shrink: 0;
    margin-right: 25px;
    margin-bottom: 0;
    width: 210px;
  }

  .stuffing-item__text-wrapper {
    margin-top: 20px;
    width: 200px;
  }

  .stuffing-item__heading {
    .font(18px, 24px);
  }

  .stuffing-item__description {
    margin-bottom: 10px;
  }

  .stuffing-item__price {
    margin-bottom: 23px;
    .font(20px, 24px);
    text-align: left;
  }
}

// ================================ Desktop ===========================

@media (min-width: @desktop) {
  .stuffing-item {
    justify-content: space-between;
    width: 660px;
  }

  .stuffing-item__image-wrapper {
    width: 343px;
  }

  .stuffing-item__text-wrapper {
    width: 280px;
  }

  .stuffing-item__heading {
    .font(20px, 26px);
  }

  .stuffing-item__description {
    .font(18px, 24px);
    font-weight: normal;
  }

  .stuffing-item__price {
    .font(22px, 26px);
  }
}
