.total-choise {
  padding: 23px 20px 35px;
  margin-top: -10px;
  background-color: #ffffff;
}

.total-choise__heading {
  .indent-reset;
  margin-bottom: 10px;
  font-family: @playfair;
  .font(22px, 26px);
}

.total-choise__list {
  .list-reset;
  margin-bottom: 35px;
}

.total-choise__item {
  margin-bottom: 6px;
}

.total-choise__item-heading {
  .indent-reset;
  margin-bottom: 5px;

  font-family: @introscriptr;
  .font(20px, 24px);
  color: @brand-color;
  font-weight: bold;
  text-align: center;
}

.total-choise__item-text {
  .indent-reset;
  padding: 5px 0 7px;

  text-align: center;

  border: 1px solid #dddddd;
  border-radius: 20px;
}

// ================================= Tablet ===========================

@media (min-width: @tablet) {
  .total-choise {
    position: relative;
    margin-top: -18px;
    padding: 0 45px 45px;

    box-shadow: 0 10px 13px 0 rgba(163, 6, 60, 0.05);
    z-index: 1;
  }

  .total-choise__heading {
    margin-bottom: 8px;
    width: 50%;
    .font(18px, 24px);
  }

  .total-choise__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    width: 640px;
  }

  .total-choise__list {
    margin-bottom: 0;
    margin-right: 20px;
    display: flex;
  }

  .total-choise__item {
    margin-bottom: 0;
    margin-right: 20px;
    width: 160px;

    &:nth-child(2) {
      width: 75px;
    }

    &:nth-child(2) .total-choise__item-heading {
      padding-left: 8px;
    }
  }

  .total-choise__item-heading {
    margin-bottom: 8px;
    .font(18px, 20px);
    text-align: left;
  }

  .total-choise__item-text {
    padding: 0;
    padding-top: 6px;
    min-height: 30px;

    .font(12px, 16px);

    border-radius: 20px;
  }
}

// ================================= Desktop ===========================

@media (min-width: @desktop) {
  .total-choise {
    padding: 0 74px 70px;
  }

  .total-choise__content-wrapper {
    width: auto;
  }

  .total-choise__heading {
    margin-bottom: 5px;
    .font(27px, 66px);
  }

  .total-choise__list {
    margin-right: 30px;
  }

  .total-choise__item {
    width: 250px;
    margin-right: 80px;

    &:nth-child(2) {
      width: 140px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2) .total-choise__item-heading {
      padding-left: 0;
    }
  }

  .total-choise__item-heading {
    .font(27px, 30px);
  }

  .total-choise__item-text {
    padding: 0;

    .font(18px, 30px);
    text-align: left;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid #dddddd;
  }
}
