@keyframes showPreviousSlide {
  0% {
    margin-left: -239px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes hideSlideToLeft {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -239px;
  }
}

@keyframes showPreviousStuffingSlide {
  0% {
    margin-left: -239px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes hideStuffingSlideToLeft {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -239px;
  }
}

@media (min-width: @tablet) {
  @keyframes showPreviousSlide {
    0% {
      margin-left: -220px;
    }

    100% {
      margin-left: 0;
    }
  }

  @keyframes hideSlideToLeft {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -220px;
    }
  }

  @keyframes showPreviousStuffingSlide {
    0% {
      margin-left: -465px;
    }

    100% {
      margin-left: 0;
    }
  }

  @keyframes hideStuffingSlideToLeft {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -465px;
    }
  }
}

@media (min-width: @desktop) {
  @keyframes showPreviousSlide {
    0% {
      margin-left: -360px;
    }

    100% {
      margin-left: 0;
    }
  }

  @keyframes hideSlideToLeft {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -360px;
    }
  }

  @keyframes showPreviousStuffingSlide {
    0% {
      margin-left: -665px;
    }

    100% {
      margin-left: 0;
    }
  }

  @keyframes hideStuffingSlideToLeft {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -665px;
    }
  }
}
