body {
  margin: 0 auto;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  color: lightgreen;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
};
