@brand-color: rgba(245, 0, 73, 1);
@brand-color-shadow: rgba(255, 0, 67, 0.3);
@color-subheading-text: rgba(50, 49, 61, 1);
@color-text: rgba(45, 40, 41, 1);
@color-background: rgba(251, 235, 234, 1);
@circe: "Circe", "Arial", sans-serif;
@introscriptr: "IntroScriptR", "Arial", sans-serif;
@playfair: "PlayfairDisplay", "Arial", sans-serif;
@tablet: 768px;
@desktop: 1100px;
